body {
    display: flex; 
    justify-content: center;
    align-items: center;
    /* height: 150vh; */
    width: 100vw;
    background-color: rgb(9, 8, 8);
}
.page {
    border: 5px solid red;
    max-width: 1200px; 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content: space-between; */
    flex-grow: 1;
}

.container.one {
    background: #0f0f49ff;
    padding: 15px 175px 75px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.header {
    border: 2px solid white;
    display: flex;
    padding:;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 3px solid orange;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

.headers {
    display: flex; 
    gap: 16px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    list-style-type: none;
}

a {
    color: #e5e7eb;
    text-decoration: none; 
}

.test {
    padding-top: 50px;
    border: solid 3px plum;
    display: flex;
    justify-content: space-between;
    /* display: flex; */
     /*align-items: center; */
    /* gap: 40px; */
}

.title-container {
    border: 3px solid red;
    width: 350px; 
    display: flex;
    flex-direction: column;
}

.title1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold; 
    line-height: 1.0em;
}

.Sign_up.one {
    background: #3882F6;
    color: #f9faf8;
    padding: 4px 16px;
    border-radius: 8px;
}

.placeholder {
    /* position: absolute; */
    /* margin-top: 50px; */
    display: flex;
    width: 425px;
    height: 175px;
    background: grey;
    justify-content: center;
    align-items: center;
}

.container.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F9FAF8;
    flex: 1;
    padding: 25px;
}

.title2 {
    border: 2px solid red;
    margin: 20px 0px;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
}
.box-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.item {
    border: 1px solid black;
    width: 145px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 125px;
    width: 125px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.container.three {
    border: 3px solid black;
    background: #E5E7EB;
    /* background: #E5E7EB; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px;
}

.quote {
    border: 2px solid orange;
    display: flex;
    text-align: ;
    width: 650px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.credit {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-size: 18px;
    font-weight: 700; 
}

.thor {
    border: 6px solid blue;
    display: flex; 
}


.container.four {
    background: #F9FAF8;
    /* min-height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px; 
}

.blue-box {
    background: #3882F6;
    color: #F9FAF8; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 125px;
    gap: 50px;
    /* background: orange; */
}

.bluebox-sub {
    display: flex;
    flex-direction: column;
}
.title3 {
    font-size: 20px;
    font-weight: 600;
}

.sign.container {
    border: 3px solid black;
    /* display: flex; */
}

.Sign_up_two {
    border-radius: 8px;
    padding: 3px 20px;
    color: white; 
    background: #3882F6;
    border: 1px solid white;
}

.footer {
    background: #1F2397;
    padding: 30px;
    text-align: center; 
    color: #F9FAF8;
}

